/* styles/nav.css */

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  height: auto; /* Let the height be determined by its content */
  width: 16.66%; /* Slimmer sidebar (1/6th of the width) */
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem; /* Space between items */
  transform: translateY(-50%); /* Center the sidebar vertically */
  z-index: 1000; /* Ensure the sidebar is on top */
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

.nav-link {
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  display: block;
  color: white; /* White text */
  text-decoration: none; /* Remove underline from links */
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2); /* Highlight active section */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Highlight on hover */
}

.main-content {
  margin-left: 15%; /* Shift content slightly to the right */
  margin-right: auto; /* Keep right margin auto for centering */
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 80%;
}

.section {
  min-height: 100vh;
  padding: 1.5rem;
  
}


.image-container {
  position: relative;
  width: 350px; /* Match width with your Image component */
  height: 300px; 

}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bubble img {
  display: block; /* Remove any space below the image */
}
.bubble {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}

.bubble1 {
  bottom: -4%; /* Adjust the position as needed */
  right: 11%; /* Adjust the position as needed */
}

.bubble2 {
  bottom: -14%; /* Adjust the position as needed */
  right: 11%; /* Adjust the position as needed */
}

.bubble3 {
  bottom: -24%; /* Adjust the position as needed */
  right: 11%; /* Adjust the position as needed */
}

/* Add more bubble styles as needed */
@keyframes popOutLeft {
  from {
    transform: scale(1);
    opacity: 0.8;
    transform: translateX(0);
  }
  to {
    transform: scale(1.2);
    opacity: 1;
    transform: translateX(-25px); /* Adjust this value to control the distance */
  }
}

/* Apply the animation on hover */
.bubble:hover {
  filter: none !important; /* Removes any filter (grayscale) applied */

  animation: popOutLeft 0.3s forwards;
}

.bubbles:hover .bubble {
  filter: grayscale(100%);
}

.content-columns {
  display: flex;
  justify-content: center; /* Centers the content instead of pushing them to the edges */
  align-items: flex-start;
  gap: 50px; /* Align items at the top of the container */
  margin-top: 20px; /* Adjust this value to bring the section down */

}


.recruitment-container {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.recruitment-status {
  font-size: 20px;
  line-height: 1.5;
  /* Remove the margin-left from here */
}

.recruitment-status h2 {
  font-size: 26px;
  margin-bottom: 0px;
  margin-left: -35px; /* Only move the heading to the left */
}

.recruitment-status p {
  color: #878787; /* Customize the color */
  margin-left: 0; /* Keep this in place */
}


.json-animation {
  margin-top: 35px; /* Adjust this value to move the light down */
  /* Alternatively, you can use transform for more control */
  /* transform: translateY(10px);  */
}

.typing-container {
  font-family: "Arial", sans-serif;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  height: 50px; /* Set a fixed height to prevent jumping */
  margin-top: 25px;

  

}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-text-subtle: #a2a2a2;
}


[data-termynal] {
  width: 550px;
  height: 470px;
  max-width: 100%;
  margin: 0 auto; /* Center the terminal on the screen */
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 15px;
  font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 75px 45px 35px;
  position: relative;
  margin-top: 35px;

box-shadow: 0 16px 40px rgba(255, 255, 255, 0.5); /* Adjusted offsets */

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

.terminal-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  max-width: 550px;
}
[data-termynal]:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* A little hack to display the window buttons in one pseudo element. */
  background: #d9515d;
  -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
          box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

[data-termynal]:after {
  content: 'bash';
  position: absolute;
  color: var(--color-text-subtle);
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

[data-ty] {
  display: block;
  line-height: 2;
}

[data-ty]:before {
  /* Set up defaults and ensure empty lines are displayed. */
  content: '';
  display: inline-block;
  vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
  margin-right: 0.75em;
  color: var(--color-text-subtle);
}

[data-ty="input"]:before {
  content: '$';
}

[data-ty][data-ty-prompt]:before {
  content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
  content: attr(data-ty-cursor);
  font-family: monospace;
  margin-left: 0.5em;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}


/* Cursor animation */

@-webkit-keyframes blink {
  50% {
      opacity: 0;
  }
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.recruitment-terminal-container {
  display: flex;
  flex-direction: column; /* or 'row' if you want them side by side */
  align-items: left;
  justify-content: left;  
}


.input-cursor {
  display: inline-block;
  width: 2px;
  height: 35px; /* Match font size */
  background-color: white;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;

}


.text-content {
  flex: 2; /* Takes up more space compared to the image */
  max-width: 50%;
  margin-left: 50px; /* Optional: Space from the left */
}

.image-content {
  position: relative; /* Make this container relative for absolute positioning of animation */
  flex: 1;
  margin-left: 80px; /* Move the image container further to the right */
}

#section1 .content-columns {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: flex-start;
  margin-top: 60px; /* Same top margin as section0 */
}


.image-content img {
  width: 275px; /* Set a fixed width */
  height: 275px; /* Set the same height to make it square */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure proper scaling within the circle */
  object-position: top center; /* Shift the image upward */
  z-index: 1; /* Bring the image in front */
  position: relative; /* Position relative for z-index to work */
}

.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  position: relative; /* Enable absolute positioning of the animation */
  margin-top: 10px; /* Adjust the value as needed */

}



.input-cursor2 {
  display: inline-block;
  width: 2px;
  height: 27px; /* Match font size */
  background-color: white;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;

}

/* Paragraph styling for section0 and section1 */
#section1 p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left; 
} 

/* Special section for "What I’m Looking For" in section1 only */
.what-im-looking-for-content {
  margin-top: 20px;
  flex: 2; /* Takes up more space compared to the image */
  max-width: 70%;
  margin-left: 50px;
}

.typing-container2 {
  font-family: "Arial", sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center; /* Vertically center the cursor with the text */

  
}

.header1,
.header2 .header3 {
  text-align: left; /* Ensure the text is aligned to the left */
}


